.navbar-inverse {
    background-color: #041E56;
    border-color: #041E56;
}

body{
	background-color: #041E56;
}

b{
	color: #722B43;
	text-align: center;
	font-size: 1.65em;
}

em{
	font-size: 1.25em;
	color: #722B43;
}

.modal-title, .navbar-brand{
	font-family: 'Bad Script', cursive;
	font-size: 2.5em;
	text-align: center;
	padding-top: .5em;
}

.navbar-inverse .navbar-brand {
    color: #E4C4AD;
    padding-top: 18px;
}

.modal-body{
	font-family: 'Philosopher', sans-serif;
	font-size: 1.5em;
}


.btn-default{
	background-color: #722B43;
	border-color: #722B43;
	color: white;
	font-family: 'Bad Script', cursive;
}


.btn-default:hover{
	background-color: #34121B;
	border-color: #722B43;
	color: white;
}

.modal-dialog {
    width: 650px;
    margin: 30px auto;
}

.modal-content {
	background-color: #E4C4AD
}

.modal-footer{
	border-top: 1px solid #722B43;
}

.modal-header {
    border-bottom: 1px solid #722B43;
}

.modal-header .close{
	color: white;
}

.centered{
	text-align: center;
}

img.map, map area{
	outline: none;
}